# macOS
.DS_Store
**/.DS_Store

# 環境変数ファイル
.env*
__pycache__/
*.pyc
nginx/log/
nginx/build
env/
.python-version
__pycache__/
*.py[cod]
*$py.class

# runtime / generated
**/node_modules
*.db
__pycache__/
*.pyc
*.log
app/app.log
!app/ShigaChat.db
/backup
/Question
/documents
