# 環境変数ファイル
.env*
__pycache__/
*.pyc
nginx/log/
env/
.python-version
__pycache__/
*.py[cod]
*$py.class

/node_modules# runtime / generated
*.db
*.sqlite3
__pycache__/
*.pyc
*.log
app/app.log
!app/ShigaChat.db
